

@model List<BRS.Models.BusInfo>
@{
    ViewBag.Title = "BusNameAndView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/data%20table.bootstrap.css" rel="stylesheet" />
      @*View All Bus Name*@>
<div class="login-form  center-block" style="margin-top:200px">
    <h3 class="text-center" id="demoGrid">View All Bus Name</h3>
    <table class="table table-bordered table-striped table-bordered dt-responsive nowrap " id="dataTable">
        <thead>
            <tr>
                <th class="text-center table-style">Code</th>
                <th class="text-center table-style">Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var data in Model)
                {
                    <tr class="text-center">
                        <td>@data.busCode</td>
                        <td>@data.busName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/bundles/bootstrap")



@Scripts.Render("~/bundles/jquery")
@section scripts
{

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "full_numbers"
        } );
    });
    
</script>
}